# comlied output
/dist

# dependencies
node_modules

# IDEs and editors
.c9
.idea/
.settings/
npm-debug.log

# IDE - VSCode
.vscode/*
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/extensions.json

# System Files
.DS_STORE

# Ignore npm debug log
npm-debug.log
