<mat-toolbar class="navbar">
  <div class="navbar__main">
    <img class="navbar__logo" src="../../assets/image/logo.png">
    <div>
      <span class="item navbar__item">ГЛАВНАЯ</span>
      <span class="item navbar__item">ОБО МНЕ</span>
      <span class="item navbar__item">ПОРТФОЛИО</span>
      <span class="item navbar__item">КОНТАКТЫ</span>
    </div>
  </div>
  <div>
    <a class="navbar__button" mat-fab href="#" target="_blank" color="none">
      <img src="../../assets/image/intsagram.png">
    </a>
    <a class="navbar__button" mat-fab href="#" target="_blank" color="none">
      <img src="../../assets/image/facebook.png">
    </a>
    <a class="navbar__button" mat-fab href="#" target="_blank" color="none">
      <img src="../../assets/image/mail.png">
    </a>
  </div>
</mat-toolbar>
