<div class="main">
    <div class="about">
        <div>
            <img class="about__img" src="../../assets/image/photo_me.jpg">
        </div>
        <div class="about__text">
            <p>Приветствую!</p>
            <p>Я Илья Платонов, фотограф в Москве.</p>
            <p>Занимаюсь промышленной, предметной, репортажной и детской фотосъемкой, а также аэро и архитектурная съемка.</p>
            <p>Вам стоит обратиться ко мне, если:</p>
            <ul>
                <li>Вам важны ответственность, пунктуальность и качество;</li>
                <li>Вы хотите получить то, что Вы хотите получить, а не то, что видит фотограф;</li>
                <li>Вы в поиске концепции, и открыты для всего нового.</li>
            </ul>
            <p>Ознакомиться с моими работами можно в портфолио. Для обсуждения вашей задачи, достаточно позвонить или написать.</p>
        </div>
    </div>
    <app-portfolio-menu></app-portfolio-menu>
    <div class="air">
        <div>
            <p>Аэросъемка - это новая уникальная возможность сфотографировать местность, объект или событие с высоты.</p>
            <p>Для реализации Вашей идеи не придется нанимать дорогостоящий вертолет, всю работу возьмет на себя квадрокоптер.</p>
            <p>Он способен подняться ввысь на расстояние до 500 метров, чтобы снять фото или записать видео. </p>
            <p>Это Ваш шанс взглянуть на привычные вещи с непривычного ракурса. Ознакомиться с частью моих работ вы можете на канале пройдя по ссылке: <a class="item" href="https://www.youtube.com/channel/UCW4wsiDvQcZy6rjQ-yjLLHQ" target="_blank">PlatonovPhoto.</a></p>
        </div>
        <div>
            <iframe width="640" height="480" src="https://www.youtube.com/embed/KE0-wWug7X4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="contacts">
        <p>Связаться со мной можно следующими способами:</p>
        <ul>
            <li>Телефон: +7(968)882-86-45</li>
            <li>Почта: platonov_il@mail.ru</li>
            <li>Instagram: @platonovphoto</li>
        </ul>
        <p>Я на других ресурсах:</p>
        <ul>
            <li>Портфолио на Shutterstock - <a class="item" href="https://www.shutterstock.com/g/Ilya+Platonov?language=en" target="_blank">фото</a> и <a class="item" href="https://www.shutterstock.com/ru/video/search?contributor=Ilya+Platonov" target="_blank">видео</a></li>
            <li>Портфолио на <a class="item" href="https://www.fotolia.com/p/206540918?order=popularity" target="_blank">Adobe Stock</a></li>
        </ul>
    </div>
</div>
