.main {
    font-size: 22px;
    color: white;
    background-color: black;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    &__text {
        margin-left: 180px;
    }

    &__img {
        display: block;
        margin-left: 50px;
        border: 2px solid grey;
        border-radius: 50%
    }
}

.air {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.contacts {
    padding: 0 10px 10px; 
}