.dialog-wrapper {
    width: 40vw;
    color: white;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
    }
}